@layer buttons {
	button {
		margin: 0;
		overflow: visible;
		font-family: inherit;
		text-transform: none;
	}

	button,
	[type="submit"],
	[type="reset"],
	[type="button"] {
		appearance: button;
	}

	:where(
			button,
			[type="submit"],
			[type="reset"],
			[type="button"],
			[type="file"]::file-selector-button,
			[role="button"]
		) {
		--pico-background-color: var(--pico-primary-background);
		--pico-border-color: var(--pico-primary-border);
		--pico-color: var(--pico-primary-inverse);
		--pico-box-shadow: var(--pico-button-box-shadow, 0 0 0 transparent);
		padding: var(--pico-form-element-spacing-vertical)
			var(--pico-form-element-spacing-horizontal);
		border: var(--pico-border-width) solid var(--pico-border-color);
		border-radius: var(--pico-border-radius);
		outline: none;
		background-color: var(--pico-background-color);
		box-shadow: var(--pico-box-shadow);
		color: var(--pico-color);
		font-weight: var(--pico-font-weight);
		font-size: 1rem;
		line-height: var(--pico-line-height);
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		user-select: none;
		transition:
			background-color var(--pico-transition),
			border-color var(--pico-transition),
			color var(--pico-transition),
			box-shadow var(--pico-transition);

		&:is(:hover, :active, :focus, [aria-current]:not([aria-current="false"])) {
			--pico-background-color: var(--pico-primary-hover-background);
			--pico-border-color: var(--pico-primary-hover-border);
			--pico-box-shadow: var(--pico-button-hover-box-shadow, 0 0 0 transparent);
			--pico-color: var(--pico-primary-inverse);
		}

		&:focus {
			--pico-box-shadow:
				var(--pico-button-hover-box-shadow, 0 0 0 transparent),
				0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
		}
	}

	[type="submit"],
	[type="reset"],
	[type="button"] {
		margin-bottom: var(--pico-spacing);
	}

	:where(button, [type="submit"], [type="button"], [role="button"]).secondary,
	[type="reset"],
	[type="file"]::file-selector-button {
		--pico-background-color: var(--pico-secondary-background);
		--pico-border-color: var(--pico-secondary-border);
		--pico-color: var(--pico-secondary-inverse);
		cursor: pointer;

		&:is(:hover, :active, :focus, [aria-current]:not([aria-current="false"])) {
			--pico-background-color: var(--pico-secondary-hover-background);
			--pico-border-color: var(--pico-secondary-hover-border);
			--pico-color: var(--pico-secondary-inverse);
		}

		&:focus {
			--pico-box-shadow:
				var(--pico-button-hover-box-shadow, 0 0 0 transparent),
				0 0 0 var(--pico-outline-width) var(--pico-secondary-focus);
		}
	}

	:where(button, [type="submit"], [type="button"], [role="button"]).contrast {
		--pico-background-color: var(--pico-contrast-background);
		--pico-border-color: var(--pico-contrast-border);
		--pico-color: var(--pico-contrast-inverse);

		&:is(:hover, :active, :focus, [aria-current]:not([aria-current="false"])) {
			--pico-background-color: var(--pico-contrast-hover-background);
			--pico-border-color: var(--pico-contrast-hover-border);
			--pico-color: var(--pico-contrast-inverse);
		}

		&:focus {
			--pico-box-shadow:
				var(--pico-button-hover-box-shadow, 0 0 0 transparent),
				0 0 0 var(--pico-outline-width) var(--pico-contrast-focus);
		}
	}

	:where(button, [type="submit"], [type="button"], [role="button"]).outline,
	[type="reset"].outline {
		--pico-background-color: transparent;
		--pico-color: var(--pico-primary);
		--pico-border-color: var(--pico-primary);

		&:is(:hover, :active, :focus, [aria-current]:not([aria-current="false"])) {
			--pico-background-color: transparent;
			--pico-color: var(--pico-primary-hover);
			--pico-border-color: var(--pico-primary-hover);
		}
	}

	:where(
			button,
			[type="submit"],
			[type="button"],
			[role="button"]
		).outline.secondary,
	[type="reset"].outline {
		--pico-color: var(--pico-secondary);
		--pico-border-color: var(--pico-secondary);

		&:is(:hover, :active, :focus, [aria-current]:not([aria-current="false"])) {
			--pico-color: var(--pico-secondary-hover);
			--pico-border-color: var(--pico-secondary-hover);
		}
	}

	:where(
			button,
			[type="submit"],
			[type="button"],
			[role="button"]
		).outline.contrast {
		--pico-color: var(--pico-contrast);
		--pico-border-color: var(--pico-contrast);

		&:is(:hover, :active, :focus, [aria-current]:not([aria-current="false"])) {
			--pico-color: var(--pico-contrast-hover);
			--pico-border-color: var(--pico-contrast-hover);
		}
	}

	:where(
			button,
			[type="submit"],
			[type="reset"],
			[type="button"],
			[role="button"]
		)[disabled],
	:where(fieldset[disabled])
		:is(
			button,
			[type="submit"],
			[type="button"],
			[type="reset"],
			[role="button"]
		) {
		opacity: 0.5;
		pointer-events: none;
	}

	details summary[role="button"]:not(.outline)::after {
		filter: brightness(0) invert(1);
	}

	[aria-busy="true"]:not(input, select, textarea):is(
			button,
			[type="submit"],
			[type="button"],
			[type="reset"],
			[role="button"]
		):not(.outline)::before {
		filter: brightness(0) invert(1);
	}

	[role="search"]:has(
			button.secondary:focus,
			[type="submit"].secondary:focus,
			[type="button"].secondary:focus,
			[role="button"].secondary:focus
		),
	[role="group"]:has(
			button.secondary:focus,
			[type="submit"].secondary:focus,
			[type="button"].secondary:focus,
			[role="button"].secondary:focus
		) {
		--pico-group-box-shadow-focus-with-button: 0 0 0 var(--pico-outline-width)
			var(--pico-secondary-focus);
	}

	[role="search"]:has(
			button.contrast:focus,
			[type="submit"].contrast:focus,
			[type="button"].contrast:focus,
			[role="button"].contrast:focus
		),
	[role="group"]:has(
			button.contrast:focus,
			[type="submit"].contrast:focus,
			[type="button"].contrast:focus,
			[role="button"].contrast:focus
		) {
		--pico-group-box-shadow-focus-with-button: 0 0 0 var(--pico-outline-width)
			var(--pico-contrast-focus);
	}

	[role="search"] button,
	[role="search"] [type="submit"],
	[role="search"] [type="button"],
	[role="search"] [role="button"],
	[role="group"] button,
	[role="group"] [type="submit"],
	[role="group"] [type="button"],
	[role="group"] [role="button"] {
		--pico-form-element-spacing-horizontal: 2rem;
	}
}
