@layer components {
	/**
	 * Tag (.tag)
	 */

	.tag {
		display: inline-block;
		padding: 0.25rem 0.5rem;
		border-radius: var(--pico-border-radius);
		background: var(--pico-muted-border-color);
		color: var(--pico-color);
		font-size: 0.75rem;
		font-weight: 500;
		line-height: 1;
		vertical-align: baseline;

		&.primary {
			background: var(--pico-primary-background);
			color: var(--pico-primary-inverse);
		}

		&.secondary {
			background: var(--pico-secondary-background);
			color: var(--pico-secondary-inverse);
		}

		&.contrast {
			background: var(--pico-contrast-background);
			color: var(--pico-contrast-inverse);
		}

		&.success {
			background: var(--pico-success);
			color: white;
		}

		&.warning {
			background: var(--pico-warning);
			color: black;
		}

		&.error {
			background: var(--pico-error);
			color: white;
		}
	}

	/**
	 * Accordion (<details>)
	 */

	details {
		display: block;
		margin-bottom: var(--pico-spacing);

		summary {
			line-height: 1rem;
			list-style-type: none;
			cursor: pointer;
			transition: color var(--pico-transition);

			&:not([role]) {
				color: var(--pico-accordion-close-summary-color);
			}

			&::-webkit-details-marker {
				display: none;
			}

			&::marker {
				display: none;
			}

			&::-moz-list-bullet {
				list-style-type: none;
			}

			&::after {
				display: block;
				width: 1rem;
				height: 1rem;
				margin-inline-start: calc(var(--pico-spacing, 1rem) * 0.5);
				float: right;
				transform: rotate(-90deg);
				background-color: var(--pico-muted-color);
				mask-image: var(--pico-icon-chevron-mask);
				mask-size: 1rem auto;
				mask-repeat: no-repeat;
				mask-position: right center;
				content: "";
				transition: transform var(--pico-transition);
			}

			&:focus {
				outline: none;

				&:not([role]) {
					color: var(--pico-accordion-active-summary-color);
				}
			}

			&:focus-visible:not([role]) {
				outline: var(--pico-outline-width) solid var(--pico-primary-focus);
				outline-offset: calc(var(--pico-spacing, 1rem) * 0.5);
				color: var(--pico-primary);
			}

			&[role="button"] {
				width: 100%;
				text-align: left;

				&::after {
					height: calc(1rem * var(--pico-line-height, 1.5));
				}
			}
		}

		&[open] > summary {
			margin-bottom: var(--pico-spacing);

			&:not([role]):not(:focus) {
				color: var(--pico-accordion-open-summary-color);
			}

			&::after {
				transform: rotate(0);
			}
		}
	}

	[dir="rtl"] details {
		summary {
			text-align: right;

			&::after {
				float: left;
				background-position: left center;
			}
		}
	}

	/**
	 * Card (<article>)
	 */

	article {
		margin-bottom: var(--pico-block-spacing-vertical);
		padding: var(--pico-block-spacing-vertical)
			var(--pico-block-spacing-horizontal);
		border-radius: var(--pico-border-radius);
		background: var(--pico-card-background-color);
		box-shadow: var(--pico-card-box-shadow);

		> header,
		> footer {
			margin-right: calc(var(--pico-block-spacing-horizontal) * -1);
			margin-left: calc(var(--pico-block-spacing-horizontal) * -1);
			padding: calc(var(--pico-block-spacing-vertical) * 0.66)
				var(--pico-block-spacing-horizontal);
			background-color: var(--pico-card-sectioning-background-color);
		}

		> header {
			margin-top: calc(var(--pico-block-spacing-vertical) * -1);
			margin-bottom: var(--pico-block-spacing-vertical);
			border-bottom: var(--pico-border-width) solid
				var(--pico-card-border-color);
			border-top-right-radius: var(--pico-border-radius);
			border-top-left-radius: var(--pico-border-radius);
		}

		> footer {
			margin-top: var(--pico-block-spacing-vertical);
			margin-bottom: calc(var(--pico-block-spacing-vertical) * -1);
			border-top: var(--pico-border-width) solid var(--pico-card-border-color);
			border-bottom-right-radius: var(--pico-border-radius);
			border-bottom-left-radius: var(--pico-border-radius);
		}
	}

	/**
	 * Dropdown (details.dropdown)
	 */

	details.dropdown {
		position: relative;
		border-bottom: none;

		> summary::after,
		> button::after,
		> a::after {
			display: block;
			width: 1rem;
			height: calc(1rem * var(--pico-line-height, 1.5));
			margin-inline-start: 0.25rem;
			float: right;
			transform: rotate(0deg) translateX(0.2rem);
			background-color: var(--pico-muted-color);
			mask-image: var(--pico-icon-chevron-mask);
			mask-size: 1rem auto;
			mask-repeat: no-repeat;
			mask-position: right center;
			content: "";
		}

		> summary:not([role]) {
			height: calc(
				1rem *
				var(--pico-line-height) +
				var(--pico-form-element-spacing-vertical) *
				2 +
				var(--pico-border-width) *
				2
			);
			padding: var(--pico-form-element-spacing-vertical)
				var(--pico-form-element-spacing-horizontal);
			border: var(--pico-border-width) solid
				var(--pico-form-element-border-color);
			border-radius: var(--pico-border-radius);
			background-color: var(--pico-form-element-background-color);
			color: var(--pico-form-element-placeholder-color);
			line-height: inherit;
			cursor: pointer;
			user-select: none;
			transition:
				background-color var(--pico-transition),
				border-color var(--pico-transition),
				color var(--pico-transition),
				box-shadow var(--pico-transition);

			&:active,
			&:focus {
				border-color: var(--pico-form-element-active-border-color);
				background-color: var(--pico-form-element-active-background-color);
			}

			&:focus {
				box-shadow: 0 0 0 var(--pico-outline-width)
					var(--pico-form-element-focus-color);
			}

			&:focus-visible {
				outline: none;
			}

			&[aria-invalid="false"] {
				--pico-form-element-border-color: var(
					--pico-form-element-valid-border-color
				);
				--pico-form-element-active-border-color: var(
					--pico-form-element-valid-focus-color
				);
				--pico-form-element-focus-color: var(
					--pico-form-element-valid-focus-color
				);
			}

			&[aria-invalid="true"] {
				--pico-form-element-border-color: var(
					--pico-form-element-invalid-border-color
				);
				--pico-form-element-active-border-color: var(
					--pico-form-element-invalid-focus-color
				);
				--pico-form-element-focus-color: var(
					--pico-form-element-invalid-focus-color
				);
			}
		}

		> summary + ul {
			display: flex;
			z-index: 99;
			position: absolute;
			left: 0;
			flex-direction: column;
			width: 100%;
			min-width: fit-content;
			margin: 0;
			margin-top: var(--pico-outline-width);
			padding: 0;
			border: var(--pico-border-width) solid var(--pico-dropdown-border-color);
			border-radius: var(--pico-border-radius);
			background-color: var(--pico-dropdown-background-color);
			box-shadow: var(--pico-dropdown-box-shadow);
			color: var(--pico-dropdown-color);
			white-space: nowrap;
			opacity: 0;
			transition:
				opacity var(--pico-transition),
				transform 0s ease-in-out 1s;

			&[dir="rtl"] {
				right: 0;
				left: auto;
			}

			li {
				width: 100%;
				margin-bottom: 0;
				padding: calc(var(--pico-form-element-spacing-vertical) * 0.5)
					var(--pico-form-element-spacing-horizontal);
				list-style: none;

				&:first-of-type {
					margin-top: calc(var(--pico-form-element-spacing-vertical) * 0.5);
				}

				&:last-of-type {
					margin-bottom: calc(var(--pico-form-element-spacing-vertical) * 0.5);
				}

				a {
					display: block;
					margin: calc(var(--pico-form-element-spacing-vertical) * -0.5)
						calc(var(--pico-form-element-spacing-horizontal) * -1);
					padding: calc(var(--pico-form-element-spacing-vertical) * 0.5)
						var(--pico-form-element-spacing-horizontal);
					overflow: hidden;
					border-radius: 0;
					color: var(--pico-dropdown-color);
					text-decoration: none;
					text-overflow: ellipsis;

					&:is(:hover, :focus, :active, :focus-visible),
					&[aria-current]:not([aria-current="false"]) {
						background-color: var(--pico-dropdown-hover-background-color);
					}
				}

				label {
					width: 100%;
				}

				&:has(label):hover {
					background-color: var(--pico-dropdown-hover-background-color);
				}
			}
		}

		&[open] {
			> summary {
				margin-bottom: 0;

				&::before {
					display: block;
					z-index: 1;
					position: fixed;
					width: 100vw;
					height: 100vh;
					inset: 0;
					background: none;
					content: "";
					cursor: default;
				}

				& + ul {
					transform: scaleY(1);
					opacity: 1;
					transition:
						opacity var(--pico-transition),
						transform 0s ease-in-out 0s;
				}
			}
		}
	}

	nav details.dropdown {
		display: inline;
		margin: calc(var(--pico-nav-element-spacing-vertical) * -1) 0;

		> summary::after {
			transform: rotate(0deg) translateX(0rem);
		}

		> summary:not([role]) {
			height: calc(
				1rem *
				var(--pico-line-height) +
				var(--pico-nav-link-spacing-vertical) *
				2
			);
			padding: calc(
					var(--pico-nav-link-spacing-vertical) -
					var(--pico-border-width) *
					2
				)
				var(--pico-nav-link-spacing-horizontal);

			&:focus-visible {
				box-shadow: 0 0 0 var(--pico-outline-width) var(--pico-primary-focus);
			}
		}
	}

	label > details.dropdown {
		margin-top: calc(var(--pico-spacing) * 0.25);
	}

	/**
	 * Group ([role="group"], [role="search"])
	 */

	:where([role="search"], [role="group"]) {
		display: inline-flex;
		position: relative;
		width: 100%;
		margin-bottom: var(--pico-spacing);
		border-radius: var(--pico-border-radius);
		box-shadow: var(--pico-group-box-shadow, 0 0 0 transparent);
		vertical-align: middle;
		transition: box-shadow var(--pico-transition);

		> *,
		input:not([type="checkbox"], [type="radio"]),
		select {
			position: relative;
			flex: 1 1 auto;
			margin-bottom: 0;
		}

		> *:not(:first-child),
		input:not([type="checkbox"], [type="radio"]):not(:first-child),
		select:not(:first-child) {
			margin-left: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		> *:not(:last-child),
		input:not([type="checkbox"], [type="radio"]):not(:last-child),
		select:not(:last-child) {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		> *:focus,
		input:not([type="checkbox"], [type="radio"]):focus,
		select:focus {
			z-index: 2;
		}

		button:not(:first-child),
		[type="submit"]:not(:first-child),
		[type="reset"]:not(:first-child),
		[type="button"]:not(:first-child),
		[role="button"]:not(:first-child),
		input:not([type="checkbox"], [type="radio"]):not(:first-child),
		select:not(:first-child) {
			margin-left: calc(var(--pico-border-width) * -1);
		}

		button,
		[type="submit"],
		[type="reset"],
		[type="button"],
		[role="button"] {
			width: auto;
		}

		button:focus,
		[type="submit"]:focus,
		[type="reset"]:focus,
		[type="button"]:focus,
		[role="button"]:focus {
			box-shadow: none;
		}
	}

	@supports selector(:has(*)) {
		:where([role="search"], [role="group"]):has(
				button:focus,
				[type="submit"]:focus,
				[type="button"]:focus,
				[role="button"]:focus
			) {
			--pico-group-box-shadow: var(--pico-group-box-shadow-focus-with-button);

			input:not([type="checkbox"], [type="radio"]),
			select {
				border-color: transparent;
			}
		}

		:where([role="search"], [role="group"]):has(
				input:not([type="submit"], [type="button"]):focus,
				select:focus
			) {
			--pico-group-box-shadow: var(--pico-group-box-shadow-focus-with-input);

			button,
			[type="submit"],
			[type="button"],
			[role="button"] {
				--pico-button-box-shadow: 0 0 0 var(--pico-border-width)
					var(--pico-primary-border);
				--pico-button-hover-box-shadow: 0 0 0 var(--pico-border-width)
					var(--pico-primary-hover-border);
			}
		}
	}

	[role="search"] > *:first-child {
		border-top-left-radius: 5rem;
		border-bottom-left-radius: 5rem;
	}

	[role="search"] > *:last-child {
		border-top-right-radius: 5rem;
		border-bottom-right-radius: 5rem;
	}

	/**
	 * Loading ([aria-busy=true])
	 */

	[aria-busy="true"]:not(input, select, textarea, html, form) {
		white-space: nowrap;

		&::before {
			display: inline-block;
			width: 1em;
			height: 1em;
			background-color: var(--pico-muted-color);
			mask-image: var(--pico-icon-loading-mask);
			mask-size: 1em auto;
			mask-repeat: no-repeat;
			content: "";
			vertical-align: -0.125em;
		}

		&:not(:empty)::before {
			margin-inline-end: calc(var(--pico-spacing) * 0.5);
		}

		&:empty {
			text-align: center;
		}
	}

	button[aria-busy="true"],
	[type="submit"][aria-busy="true"],
	[type="button"][aria-busy="true"],
	[type="reset"][aria-busy="true"],
	[role="button"][aria-busy="true"],
	a[aria-busy="true"] {
		pointer-events: none;
	}

	/**
	 * Modal (<dialog>)
	 */

	:root,
	:host {
		--pico-scrollbar-width: 0px;
	}

	dialog {
		display: flex;
		z-index: 999;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		align-items: center;
		justify-content: center;
		width: inherit;
		min-width: 100%;
		height: inherit;
		min-height: 100%;
		padding: 0;
		border: 0;
		-webkit-backdrop-filter: var(--pico-modal-overlay-backdrop-filter);
		backdrop-filter: var(--pico-modal-overlay-backdrop-filter);
		background-color: var(--pico-modal-overlay-background-color);
		color: var(--pico-color);

		> article {
			width: 100%;
			max-height: calc(100vh - var(--pico-spacing) * 2);
			margin: var(--pico-spacing);
			overflow: auto;

			> header {
				> * {
					margin-bottom: 0;
				}

				.close,
				:is(a, button)[rel="prev"] {
					margin: 0;
					margin-left: var(--pico-spacing);
					padding: 0;
					float: right;
				}
			}

			> footer {
				text-align: right;

				button,
				[role="button"] {
					margin-bottom: 0;

					&:not(:first-of-type) {
						margin-left: calc(var(--pico-spacing) * 0.5);
					}
				}
			}

			.close,
			:is(a, button)[rel="prev"] {
				display: block;
				width: 1rem;
				height: 1rem;
				margin-top: calc(var(--pico-spacing) * -1);
				margin-bottom: var(--pico-spacing);
				margin-left: auto;
				border: none;
				background-color: var(--pico-muted-color);
				mask-image: var(--pico-icon-close-mask);
				mask-size: auto 1rem;
				mask-repeat: no-repeat;
				mask-position: center;
				opacity: 0.5;
				transition: opacity var(--pico-transition);

				&:is(
						[aria-current]:not([aria-current="false"]),
						:hover,
						:active,
						:focus
					) {
					opacity: 1;
				}
			}
		}

		&:not([open]),
		&[open="false"] {
			display: none;
		}
	}

	@media (min-width: 576px) {
		dialog > article {
			max-width: 510px;
		}
	}

	@media (min-width: 768px) {
		dialog > article {
			max-width: 700px;
		}
	}

	.modal-is-open {
		padding-right: var(--pico-scrollbar-width, 0px);
		overflow: hidden;
		pointer-events: none;
		touch-action: none;

		dialog {
			pointer-events: auto;
			touch-action: auto;
		}
	}

	:where(.modal-is-opening, .modal-is-closing) {
		dialog,
		dialog > article {
			animation-duration: 0.2s;
			animation-timing-function: ease-in-out;
			animation-fill-mode: both;
		}

		dialog {
			animation-duration: 0.8s;
			animation-name: modal-overlay;

			> article {
				animation-delay: 0.2s;
				animation-name: modal;
			}
		}
	}

	.modal-is-closing {
		dialog,
		dialog > article {
			animation-delay: 0s;
			animation-direction: reverse;
		}
	}

	@keyframes modal-overlay {
		from {
			-webkit-backdrop-filter: none;
			backdrop-filter: none;
			background-color: transparent;
		}
	}

	@keyframes modal {
		from {
			transform: translateY(-100%);
			opacity: 0;
		}
	}

	/**
	 * Nav
	 */

	:where(nav li)::before {
		float: left;
		content: "\200B";
	}

	nav {
		display: flex;
		justify-content: space-between;
		overflow: visible;

		&,
		ul {
			display: flex;
		}

		ol,
		ul {
			align-items: center;
			margin-bottom: 0;
			padding: 0;
			list-style: none;

			&:first-of-type {
				margin-left: calc(var(--pico-nav-element-spacing-horizontal) * -1);
			}

			&:last-of-type {
				margin-right: calc(var(--pico-nav-element-spacing-horizontal) * -1);
			}
		}

		li {
			display: inline-block;
			margin: 0;
			padding: var(--pico-nav-element-spacing-vertical)
				var(--pico-nav-element-spacing-horizontal);

			:where(a, [role="link"]) {
				display: inline-block;
				margin: calc(var(--pico-nav-link-spacing-vertical) * -1)
					calc(var(--pico-nav-link-spacing-horizontal) * -1);
				padding: var(--pico-nav-link-spacing-vertical)
					var(--pico-nav-link-spacing-horizontal);
				border-radius: var(--pico-border-radius);

				&:not(:hover) {
					text-decoration: none;
				}
			}

			button,
			[role="button"],
			[type="button"],
			input:not(
					[type="checkbox"],
					[type="radio"],
					[type="range"],
					[type="file"]
				),
			select {
				height: auto;
				margin-right: inherit;
				margin-bottom: 0;
				margin-left: inherit;
				padding: calc(
						var(--pico-nav-link-spacing-vertical) -
						var(--pico-border-width) *
						2
					)
					var(--pico-nav-link-spacing-horizontal);
			}
		}

		&[aria-label="breadcrumb"] {
			align-items: center;
			justify-content: start;

			ul li {
				&:not(:first-child) {
					margin-inline-start: var(--pico-nav-link-spacing-horizontal);

					&:not(:last-child)::after {
						display: inline-block;
						position: absolute;
						width: calc(var(--pico-nav-link-spacing-horizontal) * 4);
						margin: 0 calc(var(--pico-nav-link-spacing-horizontal) * -1);
						content: var(--pico-nav-breadcrumb-divider);
						color: var(--pico-muted-color);
						text-align: center;
						text-decoration: none;
						white-space: nowrap;
					}
				}

				a {
					margin: calc(var(--pico-nav-link-spacing-vertical) * -1) 0;
					margin-inline-start: calc(
						var(--pico-nav-link-spacing-horizontal) *
						-1
					);

					&[aria-current]:not([aria-current="false"]) {
						background-color: transparent;
						color: inherit;
						text-decoration: none;
						pointer-events: none;
					}
				}
			}
		}
	}

	aside {
		nav,
		ol,
		ul,
		li {
			display: block;
		}

		li {
			padding: calc(var(--pico-nav-element-spacing-vertical) * 0.5)
				var(--pico-nav-element-spacing-horizontal);

			a {
				display: block;
			}

			[role="button"] {
				margin: inherit;
			}
		}
	}

	[dir="rtl"] nav[aria-label="breadcrumb"] ul li:not(:last-child)::after {
		content: "\\";
	}

	/**
	 * Progress
	 */

	progress {
		display: inline-block;
		appearance: none;
		width: 100%;
		height: 0.5rem;
		margin-bottom: calc(var(--pico-spacing) * 0.5);
		overflow: hidden;
		border: 0;
		border-radius: var(--pico-border-radius);
		background-color: var(--pico-progress-background-color);
		color: var(--pico-progress-color);
		vertical-align: baseline;

		&::-webkit-progress-bar {
			border-radius: var(--pico-border-radius);
			background: none;
		}

		&[value]::-webkit-progress-value {
			background-color: var(--pico-progress-color);
			-webkit-transition: inline-size var(--pico-transition);
			transition: inline-size var(--pico-transition);
		}

		&::-moz-progress-bar {
			background-color: var(--pico-progress-color);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		progress:indeterminate {
			background:
				var(--pico-progress-background-color)
				linear-gradient(
					to right,
					var(--pico-progress-color) 30%,
					var(--pico-progress-background-color) 30%
				)
				top left / 150% 150% no-repeat;
			animation: progress-indeterminate 1s linear infinite;

			&[value]::-webkit-progress-value {
				background-color: transparent;
			}

			&::-moz-progress-bar {
				background-color: transparent;
			}
		}

		[dir="rtl"] progress:indeterminate {
			animation-direction: reverse;
		}
	}

	@keyframes progress-indeterminate {
		0% {
			background-position: 200% 0;
		}
		100% {
			background-position: -200% 0;
		}
	}

	/**
	 * Tooltip ([data-tooltip])
	 */

	[data-tooltip] {
		position: relative;

		&:not(a, button, input, [role="button"]) {
			border-bottom: 1px dotted;
			text-decoration: none;
			cursor: help;
		}

		&::before,
		&::after {
			display: block;
			z-index: 99;
			position: absolute;
			bottom: 100%;
			left: 50%;
			padding: 0.25rem 0.5rem;
			overflow: hidden;
			transform: translate(-50%, -0.25rem);
			border-radius: var(--pico-border-radius);
			background: var(--pico-tooltip-background-color);
			color: var(--pico-tooltip-color);
			font-style: normal;
			font-weight: var(--pico-font-weight);
			font-size: 0.875rem;
			text-decoration: none;
			text-overflow: ellipsis;
			white-space: nowrap;
			opacity: 0;
			pointer-events: none;
		}

		&::after {
			padding: 0;
			transform: translate(-50%, 0rem);
			border-top: 0.3rem solid;
			border-right: 0.3rem solid transparent;
			border-left: 0.3rem solid transparent;
			border-radius: 0;
			background-color: transparent;
			content: "";
			color: var(--pico-tooltip-background-color);
		}

		&[data-placement="bottom"] {
			&::before,
			&::after {
				top: 100%;
				bottom: auto;
				transform: translate(-50%, 0.25rem);
			}

			&::after {
				transform: translate(-50%, -0.3rem);
				border: 0.3rem solid transparent;
				border-bottom: 0.3rem solid;
			}
		}

		&[data-placement="left"] {
			&::before,
			&::after {
				top: 50%;
				right: 100%;
				bottom: auto;
				left: auto;
				transform: translate(-0.25rem, -50%);
			}

			&::after {
				transform: translate(0.3rem, -50%);
				border: 0.3rem solid transparent;
				border-left: 0.3rem solid;
			}
		}

		&[data-placement="right"] {
			&::before,
			&::after {
				top: 50%;
				right: auto;
				bottom: auto;
				left: 100%;
				transform: translate(0.25rem, -50%);
			}

			&::after {
				transform: translate(-0.3rem, -50%);
				border: 0.3rem solid transparent;
				border-right: 0.3rem solid;
			}
		}

		&:is(:focus, :hover) {
			&::before,
			&::after {
				opacity: 1;
			}
		}
	}

	@media (hover: hover) and (pointer: fine) {
		[data-tooltip]:is(:focus, :hover) {
			&::before,
			&::after {
				--pico-tooltip-slide-to: translate(-50%, -0.25rem);
				transform: translate(-50%, 0.75rem);
				animation-duration: 0.2s;
				animation-fill-mode: forwards;
				animation-name: tooltip-slide;
				opacity: 0;
			}

			&::after {
				--pico-tooltip-caret-slide-to: translate(-50%, 0rem);
				transform: translate(-50%, -0.25rem);
				animation-name: tooltip-caret-slide;
			}

			&[data-placement="bottom"] {
				&::before,
				&::after {
					--pico-tooltip-slide-to: translate(-50%, 0.25rem);
					transform: translate(-50%, -0.75rem);
					animation-name: tooltip-slide;
				}

				&::after {
					--pico-tooltip-caret-slide-to: translate(-50%, -0.3rem);
					transform: translate(-50%, -0.5rem);
					animation-name: tooltip-caret-slide;
				}
			}

			&[data-placement="left"] {
				&::before,
				&::after {
					--pico-tooltip-slide-to: translate(-0.25rem, -50%);
					transform: translate(0.75rem, -50%);
					animation-name: tooltip-slide;
				}

				&::after {
					--pico-tooltip-caret-slide-to: translate(0.3rem, -50%);
					transform: translate(0.05rem, -50%);
					animation-name: tooltip-caret-slide;
				}
			}

			&[data-placement="right"] {
				&::before,
				&::after {
					--pico-tooltip-slide-to: translate(0.25rem, -50%);
					transform: translate(-0.75rem, -50%);
					animation-name: tooltip-slide;
				}

				&::after {
					--pico-tooltip-caret-slide-to: translate(-0.3rem, -50%);
					transform: translate(-0.05rem, -50%);
					animation-name: tooltip-caret-slide;
				}
			}
		}
	}

	@keyframes tooltip-slide {
		to {
			transform: var(--pico-tooltip-slide-to);
			opacity: 1;
		}
	}

	@keyframes tooltip-caret-slide {
		50% {
			opacity: 0;
		}
		to {
			transform: var(--pico-tooltip-caret-slide-to);
			opacity: 1;
		}
	}
}
